{% extends 'index.html' %}
{% load static %}

{% block button %} <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'home' %}">Más</a> {% endblock %}

{% block content %}
<!-- Formulario -->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Charts</h2>
            <h3 class="section-subheading text-muted">Mas de 1500 charts para que toques tu música</h3>
        </div>

        <form id="contactForm" action="{% url 'charts' %}" method="post">{% csrf_token %}
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Artist input-->
                        <input class="form-control" name="artista" id="name" type="text" placeholder="Nombre de tu artista *" />
                        <div class="invalid-feedback" data-sb-feedback="name:unrequired">Se requiere un nombre</div>
                    </div>
                    <div class="form-group">
                        <!-- Song input-->
                        <input class="form-control" name="cancion" id="name" type="text" placeholder="Canción *" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere un nombre</div>
                    </div>
                    <div class="form-group">
                        <!-- Key input-->
                        <input class="form-control" name="tonalidad" id="name" type="text" placeholder="Tonalidad *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">Especifica la tonalidad</div>
                    </div>
                </div>
            </div>
            <!-- Submit Button-->
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase enabled" id="submitButton" type="submit">Enviar</button>
                <a class="btn btn-success btn-xl text-uppercase" href="{% url 'leer_charts' %}">Listar charts</a>
            </div>
        </form>
    </div>
</section>

{% endblock %}