{% extends 'index.html' %}
{% load static %}
{% block button %} {% endblock %}
{% block content %}


<!-- Formulario -->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Multitracks</h2>
            <h3 class="section-subheading text-muted">Búsqueda de secuencias</h3>
        </div>
        <form id="contactForm" action="{% url 'multitracks' %}" method="post">{% csrf_token %}
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Artist input-->
                        <input class="form-control" name="artista" id="name" type="text" placeholder="Nombre de tu artista *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere un nombre</div>
                    </div>
                    <div class="form-group">
                        <!-- Song input-->
                        <input class="form-control" name="cancion" id="name" type="text" placeholder="Canción *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere un nombre</div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-textarea mb-md-0">
                            <!-- Message input-->
                            <textarea class="form-control" name="descripcion" id="message" placeholder="Describe tus requerimientos *" data-sb-validations="required"></textarea>
                            <div class="invalid-feedback" data-sb-feedback="message:required">Se necesita un mensaje.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Enviado con éxito!</div>
                </div>
            </div>
            <!-- Submit error message-->
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error enviando el mensaje!</div>
            </div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase enabled" id="submitButton" type="submit">Enviar</button></div>
        </form>
    </div>
</section>

{% endblock %}